<section id="club" class="padded white">
	<div class="confined">
    <div class="Club">
      <div class="ClubSidebar">
  			<img src="images/logo.jpg" class="ClubLogo">
        <a class="btn btn-primary ClubSignup" ui-sref="home.signup">Sign up now</a>
        <div class="ClubFacebook">
  				<a href="https://www.facebook.com/SquashUpperHutt" title="Facebook"><img src="images/fb.png"></a>
  			</div>
  		</div>
      <div class="ClubIntro">
        <h1>Welcome to <br class="ClubIntro-HeaderBreak"> Squash @ Upper Hutt</h1>
        <p>Our squash club sits in a quiet neighbourhood, close to transport and only minutes from the City of Upper Hutt. Respected within the community for its great hospitality, vibrant character, and family friendly atmosphere, the club offers a safe and welcoming environment for all members and visitors.</p>
        <ul>
          <li>Three courts, one with glass back</li>
          <li>Good viewing areas</li>
          <li>Large comfortable lounge with plenty of seating</li>
          <li>Well apppointed kitchen</li>
          <li>Fully licensed bar</li>
          <li>Men's and ladies changing areas</li>
          <li>Plenty of parking</li>
        </ul>

        <!-- <p><strong>Club night, Friday 28 April from 7:00pm</strong><br>A social come-and-have-a-hit evening with an emphasis on fun and meeting other members. New members most welcome to try out for free, have an orientation, meet other members, have a game (or two), and find out what makes the club tick over a cool drink.  Bring a mate, try it, play it, love it!</p> -->
        <p><strong>Upper Hutt B & Below Tournament, 4–7 May</strong><br>Enter via iSquash or email <a href="mailto:Brett.Squash@outlook.co.nz">Brett.Squash@outlook.co.nz</a><br>Sponsored by <strong><a href="http://www.financialarchitects.co.nz/">Financial Architects</a></strong> - for all your financial and investment advice</p>
        <p>
          <figure class="Sponsor">
      			<a href="http://www.financialarchitects.co.nz/" target="_blank"><img src="images/sponsor-fa.jpg"></a>
      		</figure>
        </p>
      </div>
    </div>
	</div>
</section>
