
.Club {
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
	}
}
.ClubSidebar {
  order: 2;
  flex: 0 0 18rem;
  margin-top: 2rem;
  @media (min-width: 768px) {
    order: 1;
    padding-right: 4rem;
    margin-top: 0;
  }
}
.ClubIntro {
  flex: 1;
  order: 1;
  h1 {
    margin-bottom: 1rem;
  }
  @media (min-width: 768px) {
    order: 2;
  }
}
.ClubSignup {
  display: block;
  margin: 2rem auto;
  max-width: 300px;
}
.ClubIntro-HeaderBreak {
  @media (min-width: 768px) {
    display: none;
  }
}
.ClubLogo {
  display: block;
  margin: 0 auto;
  max-width: 200px;
}
.ClubFacebook img {
  display: block;
  margin: 0 auto;
}
