<section id="club" class="padded white">
	<div class="confined">
    <div class="Club">
      <div class="ClubSidebar">
  			<img src="images/logo.jpg">
        <a class="btn btn-primary ClubSignup" ui-sref="home.signup">Sign up now</a>
        <div class="ClubFacebook">
  				<a href="https://www.facebook.com/SquashUpperHutt" title="Facebook"><img src="images/fb.png"></a>
  			</div>
  		</div>
      <div class="ClubIntro">
        <h1>Welcome to Squash @ Upper Hutt</h1>
        <p>Our squash club sits in a quiet neighbourhood, close to transport and only minutes from the City of Upper Hutt. Respected within the community for its great hospitality, vibrant character, and family friendly atmosphere, the club offers a safe and welcoming environment for all members and visitors.</p>
        <ul>
          <li>Three courts, one with glass back</li>
          <li>Good viewing areas </li>
          <li>Large comfortable lounge with plenty of seating</li>
          <li>Well apppointed kitchen</li>
          <li>Fully licensed bar</li>
          <li>Men's and ladies changing areas</li>
          <li>Plenty of parking</li>
        </ul>
      </div>
    </div>
	</div>
</section>
