<section id="about" class="padded dark gradient shadow">
	<div class="confined">
		<header class="about-header">
			<h1>About the club</h1>
			<p>More info about Squash @ Upper Hutt</p>
		</header>
		<div class="about">
			<div class="item">
				<h2><i class="icon-squash"></i>New members welcome</h2>
				<p>We welcome new members to come along and try squash! Drop by at one of our social nights to try out the game with our free loan rackets, or <a ui-sref="home.signup">sign up below</a> if you’re keen to get started!</p>
			</div>
			<div class="item">
				<h2><i class="icon-juniors"></i>Junior nights</h2>
				<p>Our Junior Club Night is held most Friday evenings from 5:30 pm. If you’re under 18 and would like to try squash, or if you’re a parent and want to come and see what we do, feel free to drop by or <a ui-sref="home.contact">contact us</a> to find out more.</p>
			</div>
			<div class="item">
				<h2><i class="icon-social"></i>Social nights</h2>
				<p>For casual, friendly games, visit one of our social nights on Mondays, starting at 6:30 pm. Come along and let someone know you are interested in having a go! We have rackets to loan you and can set you up with a game.</p>
			</div>
			<div class="item">
				<h2><i class="icon-trophy"></i>Tournaments</h2>
				<p>We organise occasional tournaments at our club. Check the Squash NZ touraments schedule, or keep an eye out on our <a href="https://www.facebook.com/SquashUpperHutt">Facebook page</a> for announcements. We also host regional interclub games at the club on Tuesdays.</p>
			</div>
			<div class="item">
				<h2><i class="icon-coaching"></i>Coaching available</h2>
				<p>Want to boost your squash skills? We have coaching available for all levels! From beginners to intermediate and advanced players, we are able to help you progress to the next level. Please <a ui-sref="home.contact">contact us</a> for coach details.</p>
			</div>
			<div class="item">
				<h2><i class="icon-external"></i>Court booking system</h2>
				<p>Our club uses a modern and mobile friendly <a href="https://upperhutt.bookingpro.nz">online court booking system</a> through which you can book courts for play or practice, as well as manage your personal details and membership subscription at the club.</p>
			</div>
		</div>
	</div>
</section>
