<section id="sponsors" class="padded white">
	<div class="confined">
    <header>
			<h1>Our sponsors</h1>
		</header>
    <div class="Sponsors">
      <figure class="Sponsor">
  			<a href="http://geeandhickton.co.nz/" target="_blank"><img src="images/sponsor-geehickton.jpg"></a>
  		</figure>
      <figure class="Sponsor">
  			<a href="http://www.themallupperhutt.co.nz/stores/maidstone-sports-power/" target="_blank"><img src="images/sponsor-maidstone.jpg"></a>
  		</figure>
      <figure class="Sponsor">
  			<a href="http://www.jameshenry.co.nz/" target="_blank"><img src="images/sponsor-jameshenry.jpg"></a>
  		</figure>
      <figure class="Sponsor">
  			<a href="https://www.informphysio.co.nz/" target="_blank"><img src="images/sponsor-informphysio.jpg"></a>
  		</figure>
      <figure class="Sponsor">
  			<a href="http://www.squashwellington.org.nz/" target="_blank"><img src="images/sponsor-squashwellington.png"></a>
  		</figure>
      <figure class="Sponsor">
  			<a href="http://www.hmct.org.nz" target="_blank"><img src="images/sponsor-huttmana.jpg"></a>
  		</figure>
      <figure class="Sponsor">
  			<a href="http://www.toteandfurnace.co.nz/" target="_blank"><img src="images/sponsor-tote.png"></a>
  		</figure>
      <figure class="Sponsor">
  			<a href="http://www.pelorustrust.net.nz" target="_blank"><img src="images/sponsor-pelorus.png"></a>
  		</figure>
	</div>
</section>
