
.Sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 768px) {
    margin-top: -1rem;
    flex-direction: row;
    justify-content: space-between;
	}
}
.Sponsor {
  flex: 1;
  margin-bottom: 1rem;
  text-align: center;
  @media (min-width: 768px) {
    flex: 0 0 33%;
    padding: 1rem;
    margin-bottom: 0;
  }
}
