<section class="HomeBanner">
  <h1>Squash @ Upper Hutt</h1>
</section>
<section class="Panel HomeIntro">
  <div class="Container">
  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rutrum sapien vitae ante tristique tempus. Cras eros orci, auctor sed sodales a, gravida non lacus. Etiam dapibus ipsum vitae venenatis porttitor. Aliquam erat volutpat. Nunc ex arcu, fermentum et magna quis, venenatis hendrerit risus. Maecenas sodales lorem nulla, eget mattis orci facilisis sit amet. Pellentesque lacinia nulla at tincidunt pellentesque. Pellentesque ac fermentum libero. Nam malesuada, justo in dapibus vulputate, augue leo semper arcu, in porttitor nisi libero quis enim.</p>
  </div>
</section>
<section class="Panel HomeSignUp">
  <div class="Container">
    <h2>Sign up now</h2>
  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rutrum sapien vitae ante tristique tempus. Cras eros orci, auctor sed sodales a, gravida non lacus. Etiam dapibus ipsum vitae venenatis porttitor. Aliquam erat volutpat. Nunc ex arcu, fermentum et magna quis, venenatis hendrerit risus. Maecenas sodales lorem nulla, eget mattis orci facilisis sit amet. Pellentesque lacinia nulla at tincidunt pellentesque. Pellentesque ac fermentum libero. Nam malesuada, justo in dapibus vulputate, augue leo semper arcu, in porttitor nisi libero quis enim.</p>
  </div>
</section>
<section class="Panel HomeSponsors">
  <div class="Container">
    <h2>Our sponsors</h2>
  	<div class="HomeSponsors-BoxContainer">
      <div class="Box">
        <img src="images/sponsor-geehickton.jpg">
      </div>
      <div class="Box">
        <img src="images/sponsor-informphysio.jpg">
      </div>
      <div class="Box">
        <img src="images/sponsor-lesleygrant.jpg">
      </div>
    </div>
  </div>
</section>
<section class="Panel HomeMoreInfo">
	<div class="Container">
  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rutrum sapien vitae ante tristique tempus. Cras eros orci, auctor sed sodales a, gravida non lacus. Etiam dapibus ipsum vitae venenatis porttitor. Aliquam erat volutpat. Nunc ex arcu, fermentum et magna quis, venenatis hendrerit risus. Maecenas sodales lorem nulla, eget mattis orci facilisis sit amet. Pellentesque lacinia nulla at tincidunt pellentesque. Pellentesque ac fermentum libero. Nam malesuada, justo in dapibus vulputate, augue leo semper arcu, in porttitor nisi libero quis enim.</p>
  </div>
</section>
<section class="Panel HomeContactDetails">
	<div class="Container HomeContactDetails-BoxContainer">
    <div class="Box">
      <h2>Address</h2>
      <p>
        31 Maclean Street<br>
        Wallaceville<br>
        Upper Hutt 5018
      </p>
    </div>
    <div class="Box">
      <h2>Contact details</h2>
      <p>
        <a href="mailto:upperhutt@bookingpro.nz">upperhutt@bookingpro.nz</a><br>
        <a href="http://www.squashupperhutt.co.nz">www.squashupperhutt.co.nz</a>
      </p>
    </div>
    <div class="Box HomeContactDetails-SocialMedia">
      <h2>Social media</h2>
      <p>
        <a href="https://www.facebook.com/SquashUpperHutt/"><img src="images/fb.png"></a>
      </p>
    </div>
  </div>
</section>
