<div class="HomeDetails">
	<div class="confined">
		<div class="HomeDetails-inner">
			<div class="email">
				<a href="mailto:squashupperhutt@gmail.com" title="Email us"><i class="icon-mail"></i> squashupperhutt@gmail.com</a>
			</div>
			<div class="facebook">
				<a href="https://www.facebook.com/SquashUpperHutt" title="Facebook"><i class="icon-facebook"></i> SquashUpperHutt</a>
			</div>
			<div class="helloclub">
				<a href="https://upperhuttsquash.helloclub.com" title="Online court booking system"><i class="icon-external"></i> book a court</a>
			</div>
			<div class="location">
				<a href="https://goo.gl/maps/fd3m2Wpk7pS2" title="Our location"><i class="icon-location"></i> 31 Maclean St, Upper Hutt</a>
			</div>
		</div>
	</div>
</div>
