<section id="signup" class="padded blue">
	<div class="confined Signup">
    <header class="signup-header">
			<h1>Sign up</h1>
		</header>
    <p>Keen to start playing? Sign up now! Choose from one of our annual membership options or ask to try out a membership for a couple of months:</p>
    <table class="Membership-options">
      <tr>
        <td>Senior</td>
        <td>Unrestricted playing rights Can be graded and play interclub and all tournaments.</td>
        <td>$320</td>
      </tr>
      <tr>
        <td>Junior</td>
        <td>Can be graded and play interclub and all tournaments. Must be under 19 years of age at 1 January and not in full time employment. Not entitled to book a court during peak hours unless playing with a senior member, or by special arrangement with the Committee.  May play during peak hours ONLY if courts free and no senior member wanting to play, but can’t book courts online during peak hours.</td>
        <td>$97</td>
      </tr>
      <tr>
        <td>Couple</td>
        <td>Two adults, married or defacto, living at same address.</td>
        <td>$587</td>
      </tr>
      <tr>
        <td>Family</td>
        <td>Two adults and up to three juniors, all living at same address.</td>
        <td>$727</td>
      </tr>
      <tr>
        <td>One-parent Family</td>
        <td>One playing parent and two or three juniors living at the same address.</td>
        <td>$474</td>
      </tr>
      <tr>
        <td>Full-time Student</td>
        <td>19 years and older and full time tertiary student (proof required). Unrestricted playing times and right to play interclub and tournaments.</td>
        <td>$190</td>
      </tr>
      <tr>
        <td>Full-time Apprentice</td>
        <td>Working as a full-time apprentice and under 21 years of age. Unrestricted playing times and right to play interclub and tournaments.</td>
        <td>$190</td>
      </tr>
      <tr>
        <td>Mid Week</td>
        <td>Monday to Friday 8am to 5.15pm, no weekends.<br>Unable to play interclub or graded tournaments.</td>
        <td>$160</td>
      </tr>
      <tr>
        <td>Off Peak</td>
        <td>Monday to Friday up to 5.15pm and after 8.15pm,<br>Saturday up to 2.15pm and after 6pm and Sunday all day.<br>Unable to play interclub or graded tournaments.</td>
        <td>$185</td>
      </tr>
      <tr>
        <td>Weekend</td>
        <td>All day Saturday and Sunday.<br>Unable to play interclub or graded tournaments.</td>
        <td>$138</td>
      </tr>
      <tr>
        <td>Associate</td>
        <td>Must be full financial member of another squash club.</td>
        <td>$133</td>
      </tr>
      <tr>
        <td>Non Playing</td>
        <td>No playing access.<br>Able to use club facilities, e.g. showers, bar, kitchen.</td>
        <td>$42</td>
      </tr>
    </table>
    <p><small>*Peak hours are Monday to Friday 5.15pm to 8.15pm and Saturday 2.15pm to 6.00pm</small></p>
    <p>To sign up, please contact us and let us know your preferred membership.</p>
    <p>
      <a class="btn btn-primary" ui-sref="home.contact">Contact us to sign up</a>
    </p>
	</div>
</section>
