<section id="signup" class="padded blue">
	<div class="confined Signup">
    <header class="signup-header">
			<h1>Sign up</h1>
		</header>
    <p>Keen to start playing? Choose from one of our annual membership options or sign up as a casual member.</p>

    <h3>Annual membership options</h3>
    <div class="MembershipOptions">
      <div class="MembershipOption">
        <span>Senior</span>
        <span>Unrestricted playing rights. Can be graded and play interclub and all tournaments.</span>
        <span>$326</span>
      </div>
      <div class="MembershipOption">
        <span>Junior</span>
        <span>Can be graded and play interclub and all tournaments. Must be under 19 years of age and not in full time employment.</span>
        <span>$99</span>
      </div>
      <div class="MembershipOption">
        <span>Couple / Family</span>
        <span>Must all be living at same address. Membership fee is calculated at 100% of the price for the most expensive membership, then each subsequent membership discounted by 20% for 2nd member, 30% for the 3rd member, 40% for the 4th member and 50% for all other members.</span>
        <span>varies</span>
      </div>
      <div class="MembershipOption">
        <span>Student / Apprentice</span>
        <span>Full-time tertiary student or working as a full-time apprentice (proof required). Unrestricted playing times and right to play interclub and tournaments.</span>
        <span>$194</span>
      </div>
      <div class="MembershipOption">
        <span>Off Peak</span>
        <span>Monday to Friday up to 5.15pm and after 8.15pm, Saturday and Sunday all day. Unable to play interclub or graded tournaments.</span>
        <span>$189</span>
      </div>
      <div class="MembershipOption">
        <span>Weekend</span>
        <span>All day Saturday and Sunday. Unable to play interclub or graded tournaments.</span>
        <span>$141</span>
      </div>
      <div class="MembershipOption">
        <span>Associate</span>
        <span>Must be full financial member of another squash club.</span>
        <span>$136</span>
      </div>
      <div class="MembershipOption">
        <span>Non Playing</span>
        <span>No playing access. Able to use club facilities, e.g. showers, bar, kitchen.</span>
        <span>$42</span>
      </div>
    </div>
    <p><small>*Peak hours are Monday to Friday 5.15pm to 8.15pm</small></p>

    <h3>Casual membership options</h3>
    <div class="MembershipOptions">
      <div class="MembershipOption">
        <span>Casual membership</span>
        <span>Flexible monthly membership with unrestricted playing times. Unable to play interclub or graded tournaments.</span>
        <span>$39 per month</span>
      </div>
      <div class="MembershipOption">
        <span>Pay to play</span>
        <span>Pay per session, unrestricted playing times. Unable to play interclub or graded tournaments.</span>
        <span>$10 per session</span>
      </div>
      <div class="MembershipOption">
        <span>Visitors</span>
        <span>Visitors coming to play with a member.</span>
        <span>$10 per session</span>
      </div>
    </div>
    <hr>
    <p>To sign up now, please contact us and let us know your preferred membership.</p>
    <p><a class="btn btn-primary" ui-sref="home.contact">Contact us to sign up</a></p>
	</div>
</section>
