
.Signup {
  small {
    color: fade-out($colorWhite, .3);
    font-style: $fontStyleItalic;
  }
  .btn-primary {
    background: $colorPrimary;
    &:hover {
			background: darken($colorPrimary, 5%);
		}
  }
}
.signup-header {
	border-bottom: 1px solid $colorBorderLight;
	padding-bottom: .75rem;
}
.MembershipOptions {
  // border: 1px solid $colorBorderLight;
  margin-bottom: 1rem;
  background: $colorPrimary;
}
.MembershipOption {
  border: 1px solid $colorBorderLight;
  border-bottom: none;
  &:last-child {
    border-bottom: 1px solid $colorBorderLight;
  }
  span {
    display: block;
    padding: .5rem 1rem;
    &:first-child, &:last-child {
      font-weight: $fontWeightBold;
    }
  }
  @media (min-width: 768px) {
    display: flex;
    span {
      flex: 1;
      &:first-child {
        flex: 0 0 10rem;
      }
      &:last-child {
        padding-left: 2rem;
        flex: 0 0 5rem;
      }
    }
  }
}
