<section id="signup" class="padded blue">
	<div class="confined Signup">
    <header class="signup-header">
			<h1>Sign up</h1>
		</header>
    <p>Keen to start playing? Choose from one of our annual membership options or ask to try out a membership for a couple of months:</p>
    <div class="MembershipOptions">
      <div class="MembershipOption">
        <span>Senior</span>
        <span>Unrestricted playing rights Can be graded and play interclub and all tournaments.</span>
        <span>$320</span>
      </div>
      <div class="MembershipOption">
        <span>Junior</span>
        <span>Can be graded and play interclub and all tournaments. Must be under 19 years of age at 1 January and not in full time employment. Not entitled to book a court during peak hours unless playing with a senior member, or by special arrangement with the Committee.  May play during peak hours ONLY if courts free and no senior member wanting to play, but can’t book courts online during peak hours.</span>
        <span>$97</span>
      </div>
      <div class="MembershipOption">
        <span>Couple</span>
        <span>Two adults, married or defacto, living at same address.</span>
        <span>$587</span>
      </div>
      <div class="MembershipOption">
        <span>Family</span>
        <span>Two adults and up to three juniors, all living at same address.</span>
        <span>$727</span>
      </div>
      <div class="MembershipOption">
        <span>One-parent Family</span>
        <span>One playing parent and two or three juniors living at the same address.</span>
        <span>$474</span>
      </div>
      <div class="MembershipOption">
        <span>Student / Apprentice</span>
        <span>Full-time tertiary student (proof required) or working as a full-time apprentice and under 21 years of age. Unrestricted playing times and right to play interclub and tournaments.</span>
        <span>$190</span>
      </div>
      <div class="MembershipOption">
        <span>Off Peak</span>
        <span>Monday to Friday up to 5.15pm and after 8.15pm, Saturday and Sunday all day.<br>Unable to play interclub or graded tournaments.</span>
        <span>$185</span>
      </div>
      <div class="MembershipOption">
        <span>Weekend</span>
        <span>All day Saturday and Sunday.<br>Unable to play interclub or graded tournaments.</span>
        <span>$138</span>
      </div>
      <div class="MembershipOption">
        <span>Associate</span>
        <span>Must be full financial member of another squash club.</span>
        <span>$133</span>
      </div>
      <div class="MembershipOption">
        <span>Non Playing</span>
        <span>No playing access.<br>Able to use club facilities, e.g. showers, bar, kitchen.</span>
        <span>$42</span>
      </div>
    </div>
    <p><small>*Peak hours are Monday to Friday 5.15pm to 8.15pm and Saturday 2.15pm to 6.00pm</small></p>
    <hr>
    <p>To sign up now, please contact us and let us know your preferred membership.</p>
    <p><a class="btn btn-primary" ui-sref="home.contact">Contact us to sign up</a></p>
	</div>
</section>
